:root {
    --green: #042917;
    --red: #ffffff;
  }


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    height:100%;
    box-sizing: border-box; 
    font-size:100%;
}
body {
    min-height:100vh;
    margin:0;
    font-size: clamp(100%, 1rem + 2vw, 24px);
    /* background-color: #F7F7F7; */
    font-family: 'Inter', sans-serif;
    /* color: var(--green); */
}
nav {
    justify-content: center;
}
.paper {
    background-color: #F7F7F7;
}
.card {
    flex-direction: row;
    border:none;
    animation: flip-in-ver-right .5s cubic-bezier(.25,.46,.45,.94) both;
}
.card-subtitle {
    margin-bottom: 20px;
}
#find {
    display:flex;
    flex-wrap: wrap;
}
.main {
    background-image: url('/images/488-4888164_bryan-cranston-breaking-bad-trailer-family-guy-the.png');
    background-position:left center;
    background-repeat: no-repeat;
    /* background-size:contain; */
}
img {
    border-bottom-left-radius: 15px 255px!important;
    border-bottom-right-radius: 225px 15px!important;
    border-top-left-radius: 255px 15px!important;
    border-top-right-radius: 15px 225px!important;
    border: 2px solid #41403e!important;
}
.card .card-body h5 {
    color: var(--green)!important;
}

.random-character p {
    width:50%;
    display: inline-block;
}